/* form {
	width: 200px;
	margin: auto;
	background-color: black;
	height: 200px;
} */

form {
	background-color: #000000;
	width: 140px;
	margin: auto;
}

#textview {
	width: 130px;
	height: 30px;
	background-color: #00ffff;
	border: 2px solid black;
	margin: auto;
	color: black;
	text-align: left;
}

.button {
	margin: auto;
}

input {
	/* outline: none; */
	/* border: none; */
	background-color: red;
	color: white;
	width: 25px;
	height: 25px;
	margin: 2px;
	text-align: center;
}
